<head>
    <title>Damn Vulnerable Recruitment App</title>
    <meta property="og:image" content="{{url_for('static',filename='img/prev.jpeg')}}" />
    <link rel="stylesheet" type= "text/css" href="{{url_for('static',filename='css/styles.css')}}">
</head>
<body>
    <ul id="navbar">
        <li><a  class="navbar" href="/">Home</a></li>
        {% if not session["logged_in"] %}
        {% if false %}
        <li><a  class="navbar" href="/login">Login</a></li>
        {% endif %}
        <li><a  class="navbar"href="/enroll">Enroll</a></li>
        {% endif %}
        <li><a  class="navbar"href="/about">About us</a></li>
    </ul>
    <div id="container">
        {% block body %}
        {% endblock %}
    </div>
    <div id="footer">BIT Cybersec</div>
</body>
<!-- All credtis to https://github.com/Rakowskiii/BITapp for inspiration -->