{% extends "layout.html" %}
{% block body %}
<div id='enroll'>
<form id="enroll_form" action = "/enroll" method = "POST">
    <div id="enroll_form_span"></div>
    <p id="start_jrn"><h3>Start your journey</h3></p>
    <p><input type = 'text' name = 'username' placeholder = 'Username'/></p>
    <p><input type = 'password' name = 'passwd' placeholder = 'Password'/></p>
    <p><input type = 'password' name = 'passwd_confirm' placeholder = 'Confirm password'/></p>
    <p><input type = 'submit' value = 'Enroll'/></p>
    <input hidden="true" value="flag{s4f3_x0r_s0un0}"/>
</form>
</div>
{% endblock %}